html {
  font-size: $font-root-size;
}

body {
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  font-family: $font-base;
  font-weight: $font-weight-regular;
  padding: 0;
  background-color: $color-white;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.brand {
  min-width: 70px;
  width: 70px;
  min-height: 70px;
  height: auto;
}
