.canvas-layout {
  padding-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 400px);
  grid-auto-flow: dense;
  gap: 2.4rem;
  .canva-item {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    &.canvas-1 {
      grid-row: span 2;
    }
    &.canvas-3 {
      grid-column: span 2;
    }
    &.canvas-6 {
      grid-row: span 2;
    }
    &.canvas-7 {
      grid-column: span 3;
    }
    .info-block {
      aspect-ratio: 1/1;
    }
    .img-canva {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  // Table
  @include screenQuery('max', $desktop) {
    & {
      gap: 1.2rem;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      grid-template-rows: repeat(4, 200px);

      .canva-item {
        &.canvas-7 {
          grid-column: span 2;
        }

        &.canvas-5 {
          grid-column: span 2;
        }

        .info-block {
          display: none;
        }
      }
    }
  }

  // Mobile
  @include screenQuery('max', $table) {
    & {
      gap: 1.2rem;
      grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
      grid-template-rows: repeat(5, 165px);

      .canva-item {
        &.canvas-7 {
          grid-column: span 1;
        }

        &.canvas-5 {
          grid-column: span 1;
        }

        .info-block {
          display: none;
        }
      }
    }
  }
}
