input,
select {
  font-family: $font-base;
  font-size: $font-size-s;
  font-size: $font-size-base;
  text-transform: capitalize;
  margin: 0;
  padding: 1rem 0.5rem;
  border-radius: 0;
  border: 2px solid $color-gray-300;
  box-shadow: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:not(select) {
    width: calc(100% - 1rem);
  }

  &:focus,
  &:focus-visible {
    border: 1px solid $primary-color;
    outline: 1px solid $primary-color;
  }

  &::placeholder,
  &::selection {
    color: $color-gray-300;
  }
}

fieldset {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.4rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  text-transform: capitalize;
}
