.carrusel-block {
  list-style: none;
  margin: 0;
  padding: 1.2rem 0;
  display: flex;
  gap: 1.4rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  .item-carrusel {
    width: calc(100% / 5);
    min-width: 200px;

    a {
      text-decoration: none;
      color: $color-black;
      .img-product {
        aspect-ratio: 3/4;
        border-radius: 5px;
        overflow: auto;
        object-fit: cover;
        width: 100%;
      }

      .product-info {
        padding: 0 0 1rem 0;
      }
    }
  }
}
