@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Outfit:wght@400;700&display=swap");
@media (max-width: 767px) {
  .container-alp {
    padding: 0.5rem 15px;
    max-width: auto;
  }
}
@media (min-width: 767px) {
  .container-alp {
    padding: 0.5rem 24px;
  }
}
@media (min-width: 1024px) {
  .container-alp {
    padding: 0.5rem 40px;
    max-width: 1920px;
  }
}

.container-alp-fluid {
  padding: auto;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  line-height: 125%;
  color: #1a1a1a;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0;
  background-color: #f1f1f1;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.brand {
  min-width: 70px;
  width: 70px;
  min-height: 70px;
  height: auto;
}

a.button.primary,
input[type=button].button.primary,
input[type=submit].button.primary,
input[type=reset].button.primary,
button.button.primary {
  font-size: 1.4rem;
  color: #f1f1f1;
  display: inline-block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 150%;
  padding: 1rem 2rem;
  background-color: #1a1a1a;
  text-decoration: none;
  text-align: center;
}
a.button.primary:hover,
input[type=button].button.primary:hover,
input[type=submit].button.primary:hover,
input[type=reset].button.primary:hover,
button.button.primary:hover {
  background-color: #ff5501;
}
a.button.primary.icon,
input[type=button].button.primary.icon,
input[type=submit].button.primary.icon,
input[type=reset].button.primary.icon,
button.button.primary.icon {
  display: inline-block;
  min-width: auto;
}
a.button.primary.icon > *,
input[type=button].button.primary.icon > *,
input[type=submit].button.primary.icon > *,
input[type=reset].button.primary.icon > *,
button.button.primary.icon > * {
  line-height: 150%;
  margin-right: 1.2rem;
}
a.button.primary.xs,
input[type=button].button.primary.xs,
input[type=submit].button.primary.xs,
input[type=reset].button.primary.xs,
button.button.primary.xs {
  font-size: 1.008rem;
  padding: 0.25rem 0.5rem;
}
a.button.primary.xs.icon > *,
input[type=button].button.primary.xs.icon > *,
input[type=submit].button.primary.xs.icon > *,
input[type=reset].button.primary.xs.icon > *,
button.button.primary.xs.icon > * {
  margin-right: 0.25rem;
}
a.button.primary.s,
input[type=button].button.primary.s,
input[type=submit].button.primary.s,
input[type=reset].button.primary.s,
button.button.primary.s {
  font-size: 1.204rem;
  padding: 0.5rem 1rem;
}
a.button.primary.s.icon > *,
input[type=button].button.primary.s.icon > *,
input[type=submit].button.primary.s.icon > *,
input[type=reset].button.primary.s.icon > *,
button.button.primary.s.icon > * {
  margin-right: 0.5rem;
}
a.button.primary.xl,
input[type=button].button.primary.xl,
input[type=submit].button.primary.xl,
input[type=reset].button.primary.xl,
button.button.primary.xl {
  font-size: 1.68rem;
  padding: 1.5rem 3rem;
}
a.button.primary.xl.icon > *,
input[type=button].button.primary.xl.icon > *,
input[type=submit].button.primary.xl.icon > *,
input[type=reset].button.primary.xl.icon > *,
button.button.primary.xl.icon > * {
  margin-right: 1.5rem;
}
a.button.primary.fill,
input[type=button].button.primary.fill,
input[type=submit].button.primary.fill,
input[type=reset].button.primary.fill,
button.button.primary.fill {
  width: -webkit-fill-available;
}
a.button.secondary,
input[type=button].button.secondary,
input[type=submit].button.secondary,
input[type=reset].button.secondary,
button.button.secondary {
  font-size: 1.4rem;
  color: #f1f1f1;
  display: inline-block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 150%;
  padding: 1rem 2rem;
  background-color: #006bb4;
  text-decoration: none;
  text-align: center;
}
a.button.secondary:hover,
input[type=button].button.secondary:hover,
input[type=submit].button.secondary:hover,
input[type=reset].button.secondary:hover,
button.button.secondary:hover {
  background-color: #1a1a1a;
}
a.button.secondary.icon,
input[type=button].button.secondary.icon,
input[type=submit].button.secondary.icon,
input[type=reset].button.secondary.icon,
button.button.secondary.icon {
  display: inline-block;
  min-width: auto;
}
a.button.secondary.icon > *,
input[type=button].button.secondary.icon > *,
input[type=submit].button.secondary.icon > *,
input[type=reset].button.secondary.icon > *,
button.button.secondary.icon > * {
  line-height: 150%;
  margin-right: 1.2rem;
}
a.button.secondary.xs,
input[type=button].button.secondary.xs,
input[type=submit].button.secondary.xs,
input[type=reset].button.secondary.xs,
button.button.secondary.xs {
  font-size: 1.008rem;
  padding: 0.25rem 0.5rem;
}
a.button.secondary.xs.icon > *,
input[type=button].button.secondary.xs.icon > *,
input[type=submit].button.secondary.xs.icon > *,
input[type=reset].button.secondary.xs.icon > *,
button.button.secondary.xs.icon > * {
  margin-right: 0.25rem;
}
a.button.secondary.s,
input[type=button].button.secondary.s,
input[type=submit].button.secondary.s,
input[type=reset].button.secondary.s,
button.button.secondary.s {
  font-size: 1.204rem;
  padding: 0.5rem 1rem;
}
a.button.secondary.s.icon > *,
input[type=button].button.secondary.s.icon > *,
input[type=submit].button.secondary.s.icon > *,
input[type=reset].button.secondary.s.icon > *,
button.button.secondary.s.icon > * {
  margin-right: 0.5rem;
}
a.button.secondary.xl,
input[type=button].button.secondary.xl,
input[type=submit].button.secondary.xl,
input[type=reset].button.secondary.xl,
button.button.secondary.xl {
  font-size: 1.68rem;
  padding: 1.5rem 3rem;
}
a.button.secondary.xl.icon > *,
input[type=button].button.secondary.xl.icon > *,
input[type=submit].button.secondary.xl.icon > *,
input[type=reset].button.secondary.xl.icon > *,
button.button.secondary.xl.icon > * {
  margin-right: 1.5rem;
}
a.button.secondary.fill,
input[type=button].button.secondary.fill,
input[type=submit].button.secondary.fill,
input[type=reset].button.secondary.fill,
button.button.secondary.fill {
  width: -webkit-fill-available;
}
a.button.link,
input[type=button].button.link,
input[type=submit].button.link,
input[type=reset].button.link,
button.button.link {
  font-size: 1.4rem;
  color: #1a1a1a;
  display: inline-block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 150%;
  padding: 1rem 2rem;
  text-decoration: underline;
  background-color: transparent;
  font-weight: 700;
}
a.button.link:hover,
input[type=button].button.link:hover,
input[type=submit].button.link:hover,
input[type=reset].button.link:hover,
button.button.link:hover {
  color: #ff5501;
}
a.button.link.icon,
input[type=button].button.link.icon,
input[type=submit].button.link.icon,
input[type=reset].button.link.icon,
button.button.link.icon {
  display: inline-block;
  min-width: auto;
}
a.button.link.icon > *,
input[type=button].button.link.icon > *,
input[type=submit].button.link.icon > *,
input[type=reset].button.link.icon > *,
button.button.link.icon > * {
  line-height: 150%;
  margin-right: 1.2rem;
}
a.button.link.xs,
input[type=button].button.link.xs,
input[type=submit].button.link.xs,
input[type=reset].button.link.xs,
button.button.link.xs {
  font-size: 1.008rem;
  padding: 0.25rem 0.5rem;
}
a.button.link.xs.icon > *,
input[type=button].button.link.xs.icon > *,
input[type=submit].button.link.xs.icon > *,
input[type=reset].button.link.xs.icon > *,
button.button.link.xs.icon > * {
  margin-right: 0.25rem;
}
a.button.link.s,
input[type=button].button.link.s,
input[type=submit].button.link.s,
input[type=reset].button.link.s,
button.button.link.s {
  font-size: 1.204rem;
  padding: 0.5rem 1rem;
}
a.button.link.s.icon > *,
input[type=button].button.link.s.icon > *,
input[type=submit].button.link.s.icon > *,
input[type=reset].button.link.s.icon > *,
button.button.link.s.icon > * {
  margin-right: 0.5rem;
}
a.button.link.xl,
input[type=button].button.link.xl,
input[type=submit].button.link.xl,
input[type=reset].button.link.xl,
button.button.link.xl {
  font-size: 1.68rem;
  padding: 1.5rem 3rem;
}
a.button.link.xl.icon > *,
input[type=button].button.link.xl.icon > *,
input[type=submit].button.link.xl.icon > *,
input[type=reset].button.link.xl.icon > *,
button.button.link.xl.icon > * {
  margin-right: 1.5rem;
}
a.button.link.fill,
input[type=button].button.link.fill,
input[type=submit].button.link.fill,
input[type=reset].button.link.fill,
button.button.link.fill {
  width: -webkit-fill-available;
}
a.link,
input[type=button].link,
input[type=submit].link,
input[type=reset].link,
button.link {
  font-size: 1.4rem;
  color: #1a1a1a;
  display: inline-block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 150%;
  padding: 1rem 2rem;
  text-decoration: underline;
  background-color: transparent;
  font-weight: 700;
}
a.link:hover,
input[type=button].link:hover,
input[type=submit].link:hover,
input[type=reset].link:hover,
button.link:hover {
  color: #ff5501;
}
a.link.icon,
input[type=button].link.icon,
input[type=submit].link.icon,
input[type=reset].link.icon,
button.link.icon {
  display: inline-block;
  min-width: auto;
}
a.link.icon > *,
input[type=button].link.icon > *,
input[type=submit].link.icon > *,
input[type=reset].link.icon > *,
button.link.icon > * {
  line-height: 150%;
  margin-right: 1.2rem;
}
a.link.xs,
input[type=button].link.xs,
input[type=submit].link.xs,
input[type=reset].link.xs,
button.link.xs {
  font-size: 1.008rem;
  padding: 0.25rem 0.5rem;
}
a.link.xs.icon > *,
input[type=button].link.xs.icon > *,
input[type=submit].link.xs.icon > *,
input[type=reset].link.xs.icon > *,
button.link.xs.icon > * {
  margin-right: 0.25rem;
}
a.link.s,
input[type=button].link.s,
input[type=submit].link.s,
input[type=reset].link.s,
button.link.s {
  font-size: 1.204rem;
  padding: 0.5rem 1rem;
}
a.link.s.icon > *,
input[type=button].link.s.icon > *,
input[type=submit].link.s.icon > *,
input[type=reset].link.s.icon > *,
button.link.s.icon > * {
  margin-right: 0.5rem;
}
a.link.xl,
input[type=button].link.xl,
input[type=submit].link.xl,
input[type=reset].link.xl,
button.link.xl {
  font-size: 1.68rem;
  padding: 1.5rem 3rem;
}
a.link.xl.icon > *,
input[type=button].link.xl.icon > *,
input[type=submit].link.xl.icon > *,
input[type=reset].link.xl.icon > *,
button.link.xl.icon > * {
  margin-right: 1.5rem;
}
a.link.fill,
input[type=button].link.fill,
input[type=submit].link.fill,
input[type=reset].link.fill,
button.link.fill {
  width: -webkit-fill-available;
}
a.link,
input[type=button].link,
input[type=submit].link,
input[type=reset].link,
button.link {
  min-width: auto;
  display: inline-block;
  padding: 0;
}
a.link.xs, a.link.s, a.link.xl,
input[type=button].link.xs,
input[type=button].link.s,
input[type=button].link.xl,
input[type=submit].link.xs,
input[type=submit].link.s,
input[type=submit].link.xl,
input[type=reset].link.xs,
input[type=reset].link.s,
input[type=reset].link.xl,
button.link.xs,
button.link.s,
button.link.xl {
  padding: 0;
}
a.action,
input[type=button].action,
input[type=submit].action,
input[type=reset].action,
button.action {
  font-size: 1.4rem;
  color: #1a1a1a;
  display: inline-block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 150%;
  padding: 1rem 2rem;
  text-decoration: none;
}
a.action.icon,
input[type=button].action.icon,
input[type=submit].action.icon,
input[type=reset].action.icon,
button.action.icon {
  display: inline-block;
  min-width: auto;
}
a.action.icon > *,
input[type=button].action.icon > *,
input[type=submit].action.icon > *,
input[type=reset].action.icon > *,
button.action.icon > * {
  line-height: 150%;
  margin-right: 1.2rem;
}
a.action.xs,
input[type=button].action.xs,
input[type=submit].action.xs,
input[type=reset].action.xs,
button.action.xs {
  font-size: 1.008rem;
  padding: 0.25rem 0.5rem;
}
a.action.xs.icon > *,
input[type=button].action.xs.icon > *,
input[type=submit].action.xs.icon > *,
input[type=reset].action.xs.icon > *,
button.action.xs.icon > * {
  margin-right: 0.25rem;
}
a.action.s,
input[type=button].action.s,
input[type=submit].action.s,
input[type=reset].action.s,
button.action.s {
  font-size: 1.204rem;
  padding: 0.5rem 1rem;
}
a.action.s.icon > *,
input[type=button].action.s.icon > *,
input[type=submit].action.s.icon > *,
input[type=reset].action.s.icon > *,
button.action.s.icon > * {
  margin-right: 0.5rem;
}
a.action.xl,
input[type=button].action.xl,
input[type=submit].action.xl,
input[type=reset].action.xl,
button.action.xl {
  font-size: 1.68rem;
  padding: 1.5rem 3rem;
}
a.action.xl.icon > *,
input[type=button].action.xl.icon > *,
input[type=submit].action.xl.icon > *,
input[type=reset].action.xl.icon > *,
button.action.xl.icon > * {
  margin-right: 1.5rem;
}
a.action.fill,
input[type=button].action.fill,
input[type=submit].action.fill,
input[type=reset].action.fill,
button.action.fill {
  width: -webkit-fill-available;
}
a.link-nav,
input[type=button].link-nav,
input[type=submit].link-nav,
input[type=reset].link-nav,
button.link-nav {
  font-size: 1.4rem;
  color: #1a1a1a;
  display: inline-block;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  border: none;
  line-height: 150%;
  padding: 1rem 2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}
a.link-nav:hover,
input[type=button].link-nav:hover,
input[type=submit].link-nav:hover,
input[type=reset].link-nav:hover,
button.link-nav:hover {
  color: #ff5501;
}
a.link-nav.icon,
input[type=button].link-nav.icon,
input[type=submit].link-nav.icon,
input[type=reset].link-nav.icon,
button.link-nav.icon {
  display: inline-block;
  min-width: auto;
}
a.link-nav.icon > *,
input[type=button].link-nav.icon > *,
input[type=submit].link-nav.icon > *,
input[type=reset].link-nav.icon > *,
button.link-nav.icon > * {
  line-height: 150%;
  margin-right: 1.2rem;
}
a.link-nav.xs,
input[type=button].link-nav.xs,
input[type=submit].link-nav.xs,
input[type=reset].link-nav.xs,
button.link-nav.xs {
  font-size: 1.008rem;
  padding: 0.25rem 0.5rem;
}
a.link-nav.xs.icon > *,
input[type=button].link-nav.xs.icon > *,
input[type=submit].link-nav.xs.icon > *,
input[type=reset].link-nav.xs.icon > *,
button.link-nav.xs.icon > * {
  margin-right: 0.25rem;
}
a.link-nav.s,
input[type=button].link-nav.s,
input[type=submit].link-nav.s,
input[type=reset].link-nav.s,
button.link-nav.s {
  font-size: 1.204rem;
  padding: 0.5rem 1rem;
}
a.link-nav.s.icon > *,
input[type=button].link-nav.s.icon > *,
input[type=submit].link-nav.s.icon > *,
input[type=reset].link-nav.s.icon > *,
button.link-nav.s.icon > * {
  margin-right: 0.5rem;
}
a.link-nav.xl,
input[type=button].link-nav.xl,
input[type=submit].link-nav.xl,
input[type=reset].link-nav.xl,
button.link-nav.xl {
  font-size: 1.68rem;
  padding: 1.5rem 3rem;
}
a.link-nav.xl.icon > *,
input[type=button].link-nav.xl.icon > *,
input[type=submit].link-nav.xl.icon > *,
input[type=reset].link-nav.xl.icon > *,
button.link-nav.xl.icon > * {
  margin-right: 1.5rem;
}
a.link-nav.fill,
input[type=button].link-nav.fill,
input[type=submit].link-nav.fill,
input[type=reset].link-nav.fill,
button.link-nav.fill {
  width: -webkit-fill-available;
}

h1 {
  font-size: 4.2rem;
  font-family: "Outfit", "Montserrat", sans-serif;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

h2 {
  font-size: 3.85rem;
  font-family: "Outfit", "Montserrat", sans-serif;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

h3 {
  font-size: 3.5rem;
  font-family: "Outfit", "Montserrat", sans-serif;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

h4 {
  font-size: 2.8rem;
  font-family: "Outfit", "Montserrat", sans-serif;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

h5 {
  font-size: 2.1rem;
  font-family: "Outfit", "Montserrat", sans-serif;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

h6 {
  font-size: 1.75rem;
  font-family: "Outfit", "Montserrat", sans-serif;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

p {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 125%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

.subtitle {
  font-size: 2.1rem;
  font-family: "Outfit", "Montserrat", sans-serif;
  line-height: 100%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

.large {
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  line-height: 125%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

.small {
  font-size: 1.19rem;
  font-family: "Montserrat", sans-serif;
  line-height: 125%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

.xsmall {
  font-size: 1.05rem;
  font-family: "Montserrat", sans-serif;
  line-height: 125%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

input {
  font-size: 1.4rem;
  font-family: "Montserrat", sans-serif;
  line-height: 125%;
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 400;
}

input,
select {
  font-family: "Montserrat", sans-serif;
  font-size: 1.19rem;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 0;
  padding: 1rem 0.5rem;
  border-radius: 0;
  border: 2px solid #bfbfbf;
  box-shadow: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:not(select),
select:not(select) {
  width: calc(100% - 1rem);
}
input:focus, input:focus-visible,
select:focus,
select:focus-visible {
  border: 1px solid #1a1a1a;
  outline: 1px solid #1a1a1a;
}
input::placeholder, input::selection,
select::placeholder,
select::selection {
  color: #bfbfbf;
}

fieldset {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 1.4rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  text-transform: capitalize;
}

.carrusel-block {
  list-style: none;
  margin: 0;
  padding: 1.2rem 0;
  display: flex;
  gap: 1.4rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.carrusel-block .item-carrusel {
  width: 20%;
  min-width: 200px;
}
.carrusel-block .item-carrusel a {
  text-decoration: none;
  color: #1a1a1a;
}
.carrusel-block .item-carrusel a .img-product {
  aspect-ratio: 3/4;
  border-radius: 5px;
  overflow: auto;
  object-fit: cover;
  width: 100%;
}
.carrusel-block .item-carrusel a .product-info {
  padding: 0 0 1rem 0;
}

.footer {
  border-top: 1px solid #d6d6d6;
  padding-top: 2rem;
  margin-top: 4rem;
}
.footer .column-row {
  display: flex;
  gap: 1.2rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer .column-row .item-colum {
  width: calc(25% - 4rem);
}
.footer .column-row .item-colum .stores-block {
  margin-bottom: 1rem;
}
.footer .column-row .item-colum ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .column-row .item-colum ul .item-block {
  margin-bottom: 1rem;
}
.footer .column-row .item-colum ul.social-media {
  margin-top: 1.2rem;
  margin-bottom: 2.4rem;
}
.footer .column-row .item-colum ul.social-media li {
  display: inline-block;
  font-size: 3.2rem;
}
.footer .column-row .item-colum ul.social-media li:not(:first-child) {
  margin-left: 1.2rem;
}
.footer .column-row .item-colum ul.social-media li i {
  font-size: 2.1rem;
}
.footer .registro {
  background-color: #111111;
  color: #f2f2f2;
  font-size: 1.218rem;
  width: calc(100% - 80px);
  padding: 0.5rem 4rem 1rem 4rem;
}
@media (min-width: 1024px) {
  .footer .column-row {
    padding: 0 40px;
  }
}
@media (max-width: 1024px) {
  .footer .column-row {
    flex-wrap: wrap;
    padding: 0 24px;
  }
  .footer .column-row .item-colum {
    width: calc(33% - 4rem);
  }
  .footer .column-row .item-colum:last-child {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.4rem;
  }
  .footer .column-row .item-colum:last-child > *:not(.social-media) {
    width: calc(50% - 1rem);
  }
}
@media (max-width: 767px) {
  .footer .column-row {
    flex-direction: column;
    padding: 0 12px;
  }
  .footer .column-row .item-colum:last-child {
    flex-direction: column;
  }
  .footer .column-row .item-colum:last-child > *:not(.social-media) {
    width: 100%;
  }
}

.slider.slider-page {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
.slider.slider-page .item-slide {
  flex: 0 0 100%;
  scroll-snap-align: center;
  aspect-ratio: 21/9;
  position: relative;
}
.slider.slider-page .item-slide .img-slider {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 767px) {
  .slider.slider-page .item-slide {
    aspect-ratio: 1/1;
  }
}

#header {
  display: grid;
  background-color: #f1f1f1;
  position: relative;
  transition: position 0.5s ease-in-out;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid #bfbfbf;
  grid-template-areas: "brand nav nav nav minicart";
}
#header > .item-nav {
  grid-area: brand;
}
#header > .item-nav .link-nav {
  display: flex;
  padding: 0;
  justify-content: start;
  align-items: center;
  text-align: left;
}
#header .navegation {
  grid-area: nav;
}
#header .navegation .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}
#header .navegation .menu .item-nav {
  text-transform: capitalize;
}
#header .left-content {
  display: flex;
  justify-content: end;
  gap: 1rem;
}
#header .left-content .button.icon {
  max-height: 24px;
  max-width: 24px;
  padding: 0;
  border: none;
  background: none;
}
#header._sticky {
  position: fixed;
  top: 0;
  transition: position 1s ease-in-out;
  z-index: 1;
}
@media (max-width: 767px) {
  #header {
    grid-template-areas: "brand minicart" "nav nav";
  }
  #header .navegation .menu {
    justify-content: start;
    margin-top: 1rem;
  }
  #header .navegation .menu .item-nav {
    border: 1px solid #d6d6d6;
    border-radius: 20px;
    background-color: #f1f1f1;
  }
  #header._sticky {
    width: calc(100% - 30px);
  }
}
@media (min-width: 767px) {
  #header._sticky {
    width: calc(100% - 48px);
  }
}
@media (min-width: 1024px) {
  #header._sticky {
    width: calc(100% - 80px);
  }
}

.cart-content {
  grid-area: minicart;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}
.cart-content > i {
  font-size: 1.75rem;
}
.cart-content .cart-content {
  position: relative;
}
.cart-content .count {
  position: absolute;
  top: -50%;
  right: 85%;
  font-size: 1.05rem;
  padding: 0.1rem;
  border-radius: 50px;
  min-width: calc(22px - 0.5rem);
  display: flex;
  justify-content: center;
  color: #f1f1f1;
  background-color: #ff5501;
}

.minicart .minicart-popup .minicart-title {
  text-align: left;
  font-size: 1.75rem;
}
.minicart .minicart-popup .minicart-container .list-minicart {
  max-height: 500px;
  overflow-y: auto;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0.5rem;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart:not(:first-child) {
  border-top: 1px solid #eaeaea;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .block-info {
  display: flex;
  justify-content: start;
  gap: 1.2rem;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .block-info .img-product {
  max-width: 100px;
  aspect-ratio: 3/4;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .block-info .img-product img {
  object-fit: cover;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .block-info .info-product {
  text-align: left;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .block-info .info-product .name,
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .block-info .info-product .price {
  font-size: 1.4rem;
  font-weight: 700;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .block-info .info-product > p {
  font-size: 1.05rem;
}
.minicart .minicart-popup .minicart-container .list-minicart .item-minicart .action-delete {
  font-size: 1.4rem;
}
.minicart .minicart-popup .minicart-container .resument-minicart {
  list-style: none;
  padding: 0;
  padding-top: 1rem;
  font-size: 1.4rem;
  border-top: 1px solid #eaeaea;
  margin: 0;
  text-align: left;
  font-weight: 700;
}
.minicart .minicart-popup .minicart-container .resument-minicart .list-item {
  display: flex;
  justify-content: space-between;
}
.minicart .minicart-popup .minicart-container .resument-minicart .tag {
  font-weight: 400;
}
.minicart .minicart-popup .minicart-actions {
  margin: 0.8em 1em 0;
  display: flex;
  gap: 1rem;
  justify-content: stretch;
}

.info-block {
  position: absolute;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2rem);
  border-radius: 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.3137254902);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3137254902);
}
.info-block.mid-left {
  top: 50%;
  left: 2.5%;
  transform: translateY(-50%);
}
.info-block.top-mid {
  top: 2.5%;
  left: 50%;
  transform: translateX(-50%);
}
.info-block.horizontal {
  max-width: 25%;
  max-height: 80%;
  width: 100%;
}
.info-block.vertical {
  max-width: 70%;
  width: 100%;
}
@media (max-width: 1024px) {
  .info-block .text-block > p {
    display: none;
  }
}

.block-video iframe {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 1.5rem;
}

/*ScrollBar*/
::-webkit-scrollbar {
  width: 0.25rem;
  border: none;
  height: 0.5rem;
  box-shadow: none;
}

::-webkit-scrollbar-track {
  background: #d6d6d6;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background: #bda7ff;
  border-radius: 1.5rem;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background: #bda7ff;
  border-radius: 1.5rem;
  border: 0;
}

.banner .item-banner {
  aspect-ratio: 21/9;
  overflow: hidden;
  position: relative;
}
.banner .item-banner .img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-categorie .products .list-products {
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));
}
.page-categorie .products .list-products .link {
  text-decoration: none;
}
.page-categorie .products .list-products .link .img-product {
  aspect-ratio: 3/4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-categorie .products .list-products .link .name-product {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
}
@media (max-width: 767px) {
  .page-categorie .products .list-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

.canvas-layout {
  padding-top: 2.4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 400px);
  grid-auto-flow: dense;
  gap: 2.4rem;
}
.canvas-layout .canva-item {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}
.canvas-layout .canva-item.canvas-1 {
  grid-row: span 2;
}
.canvas-layout .canva-item.canvas-3 {
  grid-column: span 2;
}
.canvas-layout .canva-item.canvas-6 {
  grid-row: span 2;
}
.canvas-layout .canva-item.canvas-7 {
  grid-column: span 3;
}
.canvas-layout .canva-item .info-block {
  aspect-ratio: 1/1;
}
.canvas-layout .canva-item .img-canva {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
@media (max-width: 1024px) {
  .canvas-layout {
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(4, 200px);
  }
  .canvas-layout .canva-item.canvas-7 {
    grid-column: span 2;
  }
  .canvas-layout .canva-item.canvas-5 {
    grid-column: span 2;
  }
  .canvas-layout .canva-item .info-block {
    display: none;
  }
}
@media (max-width: 767px) {
  .canvas-layout {
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
    grid-template-rows: repeat(5, 165px);
  }
  .canvas-layout .canva-item.canvas-7 {
    grid-column: span 1;
  }
  .canvas-layout .canva-item.canvas-5 {
    grid-column: span 1;
  }
  .canvas-layout .canva-item .info-block {
    display: none;
  }
}

.newletters {
  display: flex;
  gap: 1.2rem;
  align-content: center;
  align-items: center;
}
.newletters .banner-newletters {
  max-width: 55%;
}
.newletters .banner-newletters img {
  object-fit: cover;
  height: 100%;
  border-radius: 1.5rem;
}
.newletters .form-newletter {
  max-width: 35%;
  width: 100%;
  margin: 0 auto;
}
.newletters #forms-newletters {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
@media (max-width: 1024px) {
  .newletters {
    padding: 2rem 0;
  }
  .newletters .banner-newletters {
    display: none;
  }
  .newletters .banner-newletters img {
    object-fit: cover;
    height: 100%;
    border-radius: 1.5rem;
  }
  .newletters .form-newletter {
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .newletters .banner-newletters {
    display: none;
  }
  .newletters .form-newletter {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }
}

.fotograma-frames {
  margin-bottom: 2rem;
  position: relative;
}
.fotograma-frames .list-fotograma {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
.fotograma-frames .list-fotograma .fotograma-frame-nav {
  line-height: 0;
  overflow-x: hidden;
}
.fotograma-frames .list-fotograma .fotograma-frame-nav.select {
  grid-column: span 2;
}
.fotograma-frames .list-fotograma .fotograma-frame-nav .img-product {
  aspect-ratio: 3/4;
  object-fit: cover;
}

.page-product.container-alp {
  padding: 0;
  margin: 0;
}
.page-product.container-alp .product-info {
  padding: 2rem 1rem;
}
.page-product.container-alp .head-info {
  background-color: #f1f1f1;
  min-width: 320px;
}
.page-product.container-alp .head-info .cuotas span {
  font-size: 1.05rem;
}
.page-product.container-alp .head-info .form-product {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-product.container-alp .header-product {
  position: relative;
}
.page-product.container-alp .header-product .back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: #f1f1f1;
  border-radius: 20px;
}

@media (min-width: 767px) {
  .page-product {
    display: grid;
    margin: 0 auto;
    grid-template-areas: "frame frame info" "carrusel carrusel info";
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .page-product #info-product._sticky {
    position: fixed;
    top: 80px;
    right: 0;
    padding: 1rem;
  }
  .page-product .header-product {
    grid-area: frame;
  }
  .page-product .head-info {
    grid-area: info;
  }
  .page-product .head-info .form-product .size {
    position: relative;
  }
  .page-product .head-info .form-product .size .open-guia {
    position: absolute;
    right: 0;
    top: 0;
  }
  .page-product .botton-info .item-info {
    padding: 1rem 0;
  }
  .page-product .carrusel {
    grid-area: carrusel;
    padding: 0;
    margin: 0;
  }
  .page-product .mobile {
    display: none;
  }
}
@media (min-width: 1024px) {
  .page-product #info-product._sticky {
    width: 32%;
  }
}
@media (max-width: 767px) {
  .page-product {
    padding: 0 1.2rem;
  }
  .page-product .breadcrumbs {
    display: none;
  }
  .page-product .head-info {
    padding: 1rem 2rem;
  }
  .page-product .head-info .form-product {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 1rem;
  }
  .page-product .head-info .form-product .size {
    flex-direction: row;
    gap: 1.2rem;
    position: relative;
  }
  .page-product .head-info .form-product .size .open-guia {
    position: relative;
    font-size: 2.4rem;
  }
  .page-product .head-info .form-product .fieldset {
    width: 100%;
  }
  .page-product .head-info .form-product span {
    display: none;
  }
  .page-product .desktop {
    position: fixed;
    bottom: 0;
    left: 0;
    width: calc(100% - 2rem);
    padding: 0.5rem 1rem;
  }
  .page-product .desktop .name-product,
  .page-product .desktop .price,
  .page-product .desktop .cuotas {
    display: none;
  }
}
#cart.page-cart {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.2rem;
}
#cart.page-cart .title {
  flex: 1 1 100%;
  padding: 1rem 0;
  padding-bottom: 0;
}
#cart.page-cart .products-carts {
  flex: 1 1 70%;
}
#cart.page-cart .products-carts .list-products {
  padding: 0;
  list-style: none;
}
#cart.page-cart .products-carts .list-products .product .link {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #bfbfbf;
}
#cart.page-cart .products-carts .list-products .product .link .img-product {
  max-width: 100px;
}
#cart.page-cart .resument-minicart {
  flex: 1 1 25%;
}
#cart.page-cart .resument-minicart .list-resumen {
  padding: 0;
  list-style: none;
  text-transform: capitalize;
}
#cart.page-cart .resument-minicart .list-resumen .item-resument p {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
#cart.page-cart .resument-minicart .list-resumen .item-resument p span {
  font-weight: 400;
}
#cart.page-cart .resument-minicart #form-shipping {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.2rem;
}
#cart.page-cart .resument-minicart #form-shipping .button {
  min-width: auto;
}

.order-popup .order-container .title {
  text-align: left;
  color: #1a1a1a;
}
.order-popup .order-container .product-list,
.order-popup .order-container .orden-Resument {
  padding: 0;
  color: #1a1a1a;
  list-style: none;
}
.order-popup .order-container .product-list {
  max-height: 460px;
  overflow-y: scroll;
}
.order-popup .order-container .product-list .product {
  display: flex;
  gap: 1rem;
  text-align: left;
  text-decoration: none;
}
.order-popup .order-container .product-list .product .img-product {
  max-width: 75px;
}
.order-popup .order-container .orden-Resument {
  text-align: left;
  font-size: 1.4rem;
  font-weight: 700;
}
.order-popup .order-container .orden-Resument .item {
  display: flex;
  justify-content: space-between;
}
.order-popup .order-container .orden-Resument .item .tag {
  font-weight: 400;
}
.order-popup .order-actions {
  margin: 0;
  padding: 1rem 2rem;
}

.page-about .header,
.page-contact .header {
  width: 100%;
}
.page-about .footer .registro,
.page-contact .footer .registro {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
