.page-product.container-alp {
  padding: 0;
  margin: 0;

  .product-info {
    padding: 2rem 1rem;
  }

  .head-info {
    background-color: $color-white;
    min-width: 320px;

    .cuotas {
      span {
        font-size: $font-size-xs;
      }
    }

    .form-product {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .header-product {
    position: relative;

    .back {
      position: absolute;
      top: 1rem;
      left: 1rem;
      background-color: $color-white;
      border-radius: 20px;
    }
  }
}

@include screenQuery('min', $table) {
  .page-product {
    display: grid;
    margin: 0 auto;
    grid-template-areas:
      'frame frame info'
      'carrusel carrusel info';
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    #info-product {
      &._sticky {
        position: fixed;
        top: 80px;
        right: 0;
        padding: 1rem;
      }
    }

    .header-product {
      grid-area: frame;
    }
    .head-info {
      grid-area: info;

      .form-product {
        .size {
          position: relative;
          .open-guia {
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }

    .botton-info {
      .item-info {
        padding: 1rem 0;
      }
    }

    .carrusel {
      grid-area: carrusel;
      padding: 0;
      margin: 0;
    }

    .mobile {
      display: none;
    }
  }
}

@include screenQuery('min', $desktop) {
  .page-product {
    #info-product {
      &._sticky {
        width: 32%;
      }
    }
  }
}

// Mobile
@include screenQuery('max', $table) {
  .page-product {
    padding: 0 1.2rem;

    .breadcrumbs {
      display: none;
    }

    .head-info {
      padding: 1rem 2rem;

      .form-product {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
        gap: 1rem;

        .size {
          flex-direction: row;
          gap: 1.2rem;
          position: relative;
          .open-guia {
            position: relative;
            font-size: 2.4rem;
          }
        }

        .fieldset {
          width: 100%;
        }

        span {
          display: none;
        }
      }
    }

    .desktop {
      position: fixed;
      bottom: 0;
      left: 0;
      width: calc(100% - 2rem);
      padding: 0.5rem 1rem;

      .name-product,
      .price,
      .cuotas {
        display: none;
      }
    }
  }
}
