.page-categorie {
  .products {
    .list-products {
      list-style: none;
      margin: 0;
      padding: 0;
      gap: 1.2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(19%, 1fr));

      .link {
        text-decoration: none;

        .name-product {
          font-size: $font-size-base;
          font-weight: $font-weight-regular;
          text-transform: capitalize;
        }
      }
    }
  }

  @include screenQuery('max', $table) {
    .products {
      .list-products {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
