.header {
  display: grid;
  background-color: $color-white;
  position: relative;
  transition: position 0.5s ease-in-out;
  justify-content: stretch;
  align-items: center;
  border-bottom: 1px solid $color-gray-300;

  grid-template-areas: 'brand nav nav nav minicart';

  > .item-nav {
    grid-area: brand;
    .link-nav {
      display: flex;
      padding: 0;
      justify-content: start;
      align-items: center;
      text-align: left;
    }
  }

  .navegation {
    grid-area: nav;
    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.4rem;

      .item-nav {
        text-transform: capitalize;
      }
    }
  }

  &._sticky {
    position: fixed;
    top: 0;
    transition: position 1s ease-in-out;
    z-index: 1;
  }

  // Moibile
  @include screenQuery('max', $table) {
    & {
      grid-template-areas:
        'brand minicart'
        'nav nav';
    }
    .navegation {
      .menu {
        justify-content: start;
        margin-top: 1rem;
        .item-nav {
          border: 1px solid $color-gray-200;
          border-radius: 20px;
          background-color: $color-white;
        }
      }
    }

    &._sticky {
      @include calcWidth('mobile');
    }
  }

  // Table
  @include screenQuery('min', $table) {
    &._sticky {
      @include calcWidth('table');
    }
  }

  @include screenQuery('min', $desktop) {
    &._sticky {
      @include calcWidth('desktop');
    }
  }
}
.sub-header {
  background-color: $color-black;
  .content-right {
    display: flex;
    gap: 1.2rem;
    justify-content: end;
  }
  .link {
    color: $color-white;
    text-decoration: none;
  }
}
