/*ScrollBar*/
::-webkit-scrollbar {
  width: 0.25rem;
  border: none;
  height: 0.5rem;
  box-shadow: none;
}
::-webkit-scrollbar-track {
  background: #d6d6d6;
  border: 0;
}
::-webkit-scrollbar-thumb {
  background: #bda7ff;
  border-radius: 1.5rem;
  border: 0;
}
::-webkit-scrollbar-thumb {
  background: #bda7ff;
  border-radius: 1.5rem;
  border: 0;
}
