<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Title Page-->
    <title>Cart & Checkout | Alphaca Store</title>

    <!-- *Styles-->
    <link rel="stylesheet" href="../assets/style.css">

    <!-- *Scripts-->
    <script rel="preload" type="module" src="../scripts/main.js" defer></script>
    <script rel="preload" type="module" src="../scripts/cart.js" defer></script>

    <!-- *Icons-->
    <script rel="preconnect" src="https://kit.fontawesome.com/3a008ef3f0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="header" class="header header-content container-alp"></header>

    <main id="cart" class="cart page-cart container-alp">

    </main>
</body>

</html>