<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Title Page-->
    <title>Botton | Alphaca Store</title>

    <!-- *SEO-->
    <meta name="description"
        content="Descubre nuestra exclusiva colección de ropa de alpaca. Encuentra prendas elegantes y cómodas para hombres y mujeres, con los beneficios naturales de esta suave y cálida fibra. Compra en línea y disfruta de envío rápido y garantía de satisfacción.">
    <meta name="keywords"
        content="Ropa de alpaca, Moda de alpaca, Suéteres de alpaca, Prendas de alpaca, Ropa elegante de alpaca, Moda sostenible de alpaca">

    <!-- *Styles-->
    <link rel="stylesheet" href="../assets/style.css">

    <!-- *Scripts-->
    <script rel="preload" type="module" src="../scripts/main.js" defer></script>
    <script rel="preload" type="module" src="../scripts/categorie.js" defer></script>

    <script rel="preconnect" src="https://kit.fontawesome.com/3a008ef3f0.js" crossorigin="anonymous"></script>
</head>

<body>

    <body>
        <header id="header" class="header header-content container-alp"></header>

        <main id="categorie-top" class="categorie page-categorie container-alp">
            <section class="head-title-page">
                <h1>Products</h1>
                <div class="limited">
                    1 - <span class="qty-product">16</span> products
                </div>
            </section>
            <section class="products">
                <ul class="list-products"> </ul>
            </section>
        </main>

    </body>

</html>