<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Title Page-->
    <title>Polera | Top | Alphaca Store</title>

    <!-- *SEO-->
    <meta name="description"
        content="Descubre nuestra exclusiva colección de ropa de alpaca. Encuentra prendas elegantes y cómodas para hombres y mujeres, con los beneficios naturales de esta suave y cálida fibra. Compra en línea y disfruta de envío rápido y garantía de satisfacción.">
    <meta name="keywords"
        content="Ropa de alpaca, Moda de alpaca, Suéteres de alpaca, Prendas de alpaca, Ropa elegante de alpaca, Moda sostenible de alpaca">

    <!-- *Styles-->
    <link rel="stylesheet" href="../assets/style.css">

    <!-- *Scripts-->
    <script rel="preload" type="module" src="../scripts/main.js" defer></script>
    <script rel="preload" type="module" src="../scripts/product.js" defer></script>

    <!-- *Icons-->
    <script rel="preconnect" src="https://kit.fontawesome.com/3a008ef3f0.js" crossorigin="anonymous"></script>

    <!-- *Library-->
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

</head>

<body>

    <body>
        <header id="header" class="header header-content container-alp"></header>

        <main class="page-product product product-12351231 container-alp">
            <section class="header-product">
                <div class="head-info mobile">
                    <div class="breadcrumbs">
                        <span>Alphaca</span> / <span class="name-product">Polera</span>
                    </div>
                    <div class="name-product">
                        <h4>Polera White</h4>
                    </div>
                    <div class="price">
                        <span>$9.990</span>
                    </div>
                    <div class="cuotas">
                        <span>hasta <span>6</span> cuotas sin interés</span>
                    </div>
                </div>

                <article class="fotograma-frames">
                    <a href="./categorie.html" class="button link back"> <i class="fa-solid fa-arrow-left"></i> Go
                        Back</a>
                    <ul class="list-fotograma"></ul>
                </article>
            </section>
            <aside class="product-info">
                <div id="info-product" class="head-info desktop">
                    <div class="breadcrumbs">
                        <span>Alphaca</span> / <span class="name-product">Polera</span>
                    </div>
                    <div class="name-product">
                        <h4>Polera White</h4>
                    </div>
                    <div class="price">
                        <span>$9.990</span>
                    </div>
                    <div class="cuotas">
                        <span>hasta <span>6</span> cuotas sin interés</span>
                    </div>
                    <form id="form-product" action="" class="form-product">
                        <fieldset class="fieldset">
                            <label class="color" for="color">
                                <span>Color:</span>
                                <select name="color">

                                </select>
                            </label>
                            <label class="size" for="size">
                                <span>Talla:</span>
                                <select name="size">
                                </select>
                                <button class="link xs open-guia icon"><i class="fa-solid fa-ruler"></i></button>
                            </label>
                        </fieldset>
                        <input class="button primary fill addtocart" type="submit" value="Agregar al carrito">
                    </form>
                </div>
                <div class="botton-info">
                    <div class="description item-info">
                        <h5>Descripcion</h5>
                        <p>La Polera de Alpaca Blanca para Mujer es una prenda elegante y versátil que combina comodidad
                            y
                            estilo. Fabricada con suave alpaca de alta calidad, esta polera ofrece una sensación de lujo
                            y
                            calidez.</p>

                        <p>Su diseño en color blanco agrega un toque de frescura y versatilidad, lo que la convierte en
                            una
                            opción perfecta para diversas ocasiones. Ya sea que la combines con unos jeans casuales o
                            una
                            falda elegante, esta polera se adapta a tu estilo y te brinda un look casual y moderno.</p>

                        <p>Además de su apariencia estilizada, esta polera está confeccionada pensando en la comodidad.
                            El
                            tejido de alpaca es transpirable y suave al tacto, brindando una sensación agradable en la
                            piel.
                        </p>

                        <p>La Polera de Alpaca Blanca para Mujer - Polera Casual es una elección ideal para esos días
                            relajados donde buscas lucir bien sin sacrificar la comodidad. Añade este clásico moderno a
                            tu
                            guardarropa y disfruta de la versatilidad y elegancia que ofrece.</p>
                    </div>

                    <div class="instrucciones item-info">
                        <h5>Instrucciones de Lavado para Piel de Alpaca</h5>
                        <ul>
                            <li>Lavar a mano con agua fría o tibia.</li>
                            <li>Usar un detergente suave y específico para prendas de piel.</li>
                            <li>Evitar el uso de detergentes fuertes, lejía o productos químicos abrasivos.</li>
                            <li>Frotar suavemente la piel con movimientos circulares para eliminar la suciedad.</li>
                            <li>Enjuagar con agua limpia hasta que no queden residuos de detergente.</li>
                            <li>Presionar suavemente para eliminar el exceso de agua, sin retorcer ni torcer la piel.
                            </li>
                            <li>Secar al aire en posición plana, lejos de la luz solar directa y de fuentes de calor.
                            </li>
                            <li>Evitar colgar la piel de alpaca, ya que esto puede deformarla.</li>
                            <li>Aplicar acondicionador de piel específico para alpaca para mantener su suavidad y
                                flexibilidad.</li>
                            <li>Guardar en un lugar fresco y seco, preferiblemente en una bolsa de tela transpirable.
                            </li>
                            <li>Evitar el contacto con perfumes, productos químicos y objetos afilados que puedan dañar
                                la piel.</li>
                        </ul>

                    </div>

                </div>

            </aside>

            <!--? Carrusel de Products-->
            <section id="short" class="carrusel products container-alp"></section>

        </main>
    </body>

</html>